<nz-row [nzGutter]="24">
    <nz-col [nzSpan]="12" *ngFor="let bike of bikeDetails">
        <nz-card style="width:400px;margin-top: 20px;" [nzCover]="coverTemplate" [nzActions]="[actionEllipsisReject,actionEllipsisAaccept,showMoreDetails]">
            <div class="d-flex justify-content-between mb-3">
                <b>{{bike?.ride_details?.bike?.name}}</b>
                <nz-tag [nzColor]="bike.status == 'Accepted' ? '#87d068' :'#f50'">{{ bike.status }}</nz-tag>
           <!-- <a nz-button nzType="link" (click)="isViewBikeDetails = !isViewBikeDetails">Collapse<span nz-icon [nzType]="isViewBikeDetails ? 'down' : 'up'"></span></a> -->
            </div>
            <nz-card-meta
              [nzDescription]="cardContent"
            ></nz-card-meta>
          </nz-card>
          <ng-template #cardContent>
          </ng-template>
          <ng-template #actionEllipsisAaccept>
              <button nz-button nzType="primary" (click)="onAcceptOrRejectRide(bike?.ride_details?.id,'Accepted')">Accept Ride</button>
            </ng-template>
            <ng-template #actionEllipsisReject>
              <button nz-button nzType="primary" nzDanger (click)="onAcceptOrRejectRide(bike?.ride_details?.id,'Rejected')">Reject Ride</button>
            </ng-template>
            <ng-template #showMoreDetails>
                <a nz-button nzType="link" nz-button nz-popover nzPopoverTitle="Bike details" [nzPopoverContent]="contentTemplate" nzPopoverTrigger="hover">Show more details</a>
            </ng-template>
            <ng-template #contentTemplate>
                <div>
                            <nz-row [nzGutter]="24">
                                <nz-col [nzSpan]="12">
                                    <p>Registration Number:</p>
                                </nz-col>
                                <nz-col [nzSpan]="12">
                                    <p>{{bike?.ride_details?.bike?.registration_number}}</p>
                                </nz-col>
                            </nz-row>
                            <nz-row [nzGutter]="24">
                                <nz-col [nzSpan]="12">
                                    <p>Price Per Day:</p>
                                </nz-col>
                                <nz-col [nzSpan]="12">
                                    <p>{{bike?.ride_details?.bike?.fare_per_day}}$</p>
                                </nz-col>
                            </nz-row>
                            <nz-divider nzPlain nzText="Rider Details"></nz-divider>
                            <nz-row [nzGutter]="24">
                                <nz-col [nzSpan]="12">
                                    <p>Total Fare:</p>
                                </nz-col>
                                <nz-col [nzSpan]="12">
                                    <p>{{bike?.ride_details?.amount_earned}}$</p>
                                </nz-col>
                            </nz-row>
                            <nz-row [nzGutter]="24">
                                <nz-col [nzSpan]="12">
                                    <p>Start Date:</p>
                                </nz-col>
                                <nz-col [nzSpan]="12">
                                    <p>{{bike?.ride_details?.ride_start_date |  date:'yyyy-MM-dd'}}</p>
                                </nz-col>
                            </nz-row>
                            <nz-row [nzGutter]="24">
                                <nz-col [nzSpan]="12">
                                    <p>End Date:</p>
                                </nz-col>
                                <nz-col [nzSpan]="12">
                                    <p>{{bike?.ride_details?.ride_end_date |  date:'yyyy-MM-dd'}}</p>
                                </nz-col>
                            </nz-row>
                </div>
              </ng-template>
          <ng-template #coverTemplate>
            <img alt="example" [src]="'data:image/png;base64,' + bike.image" />
          </ng-template>
    </nz-col>
</nz-row>
