<nz-row [nzGutter]="24">
    <nz-col [nzSpan]="12" *ngFor="let bike of bikeDetails">
        <nz-card style="width:400px;" [nzCover]="coverTemplate" [nzActions]="[actionEllipsisReject,actionEllipsisAaccept,showMoreDetails]">
            <div class="d-flex justify-content-between mb-3">
                <b>{{bike?.ride_details?.bike?.name}}</b>
                <nz-tag [nzColor]="bike.status == 'Accepted' ? '#87d068' :'#f50'">{{ bike.status }}</nz-tag>
           <!-- <a nz-button nzType="link" (click)="isViewBikeDetails = !isViewBikeDetails">Collapse<span nz-icon [nzType]="isViewBikeDetails ? 'down' : 'up'"></span></a> -->
            </div>
            <nz-card-meta
              [nzDescription]="cardContent"
            ></nz-card-meta>
          </nz-card>
          <ng-template #cardContent>
            <div *ngIf="isViewBikeDetails">
            <nz-row [nzGutter]="24">
                <nz-col [nzSpan]="24">
                    <!-- <nz-row [nzGutter]="12">
                        <nz-col [nzSpan]="8">
                            <p>Bike Name:</p>
                        </nz-col>
                        <nz-col [nzSpan]="16">
                            <p>Benz</p>
                        </nz-col>
                    </nz-row> -->
                    <nz-row [nzGutter]="12">
                        <nz-col [nzSpan]="8">
                            <p>Registration Number:</p>
                        </nz-col>
                        <nz-col [nzSpan]="16">
                            <p>{{bike.ride_details?.bike?.registration_number}}</p>
                        </nz-col>
                    </nz-row>
                    <nz-row [nzGutter]="12">
                        <nz-col [nzSpan]="8">
                            <p>Price Per Day:</p>
                        </nz-col>
                        <nz-col [nzSpan]="16">
                            <p>{{bike?.ride_details?.bike?.fare_per_day}}$</p>
                        </nz-col>
                    </nz-row>
                    <nz-divider nzPlain nzText="Rider Details"></nz-divider>
                    <nz-row [nzGutter]="24">
                        <nz-col [nzSpan]="8">
                            <p>Start Date:</p>
                        </nz-col>
                        <nz-col [nzSpan]="16">
                            <p>{{bike?.ride_details?.ride_start_date |  date:'yyyy-MM-dd'}}</p>
                        </nz-col>
                    </nz-row>
                    <nz-row [nzGutter]="24">
                        <nz-col [nzSpan]="8">
                            <p>End Date:</p>
                        </nz-col>
                        <nz-col [nzSpan]="16">
                            <p>{{bike?.ride_details?.ride_end_date |  date:'yyyy-MM-dd'}}</p>
                        </nz-col>
                    </nz-row>
                    <nz-row [nzGutter]="24">
                        <nz-col [nzSpan]="8">
                            <p>Total Fare:</p>
                        </nz-col>
                        <nz-col [nzSpan]="16">
                            <p>{{bike?.ride_details?.amount_earned}}$</p>
                        </nz-col>
                    </nz-row>
                </nz-col>
            </nz-row>
            </div>
          </ng-template>
          <ng-template #actionEllipsisAaccept>
              <button nz-button nzType="primary" (click)="onAcceptOrRejectRide(bike?.ride_details?.id,'Accepted')">Accept Ride</button>
            </ng-template>
            <ng-template #actionEllipsisReject>
              <button nz-button nzType="primary" nzDanger (click)="onAcceptOrRejectRide(bike?.ride_details?.id,'Rejected')">Reject Ride</button>
            </ng-template>
            <ng-template #showMoreDetails>
                <a nz-button nzType="link" (click)="openDetails(bike)">Show more details</a>
            </ng-template>
          <ng-template #coverTemplate>
            <img alt="example" [src]="'data:image/png;base64,' + bike.image" />
          </ng-template>
    </nz-col>
</nz-row>



<nz-drawer
[nzClosable]="false"
[nzOffsetX]="childrenVisible ? 180 : 0"
[nzWidth]="320"
[nzVisible]="visible"
nzTitle="Bike Details"
(nzOnClose)="closeDetails()"
>
<nz-row [nzGutter]="24" *nzDrawerContent>
    <nz-col [nzSpan]="24">
        <!-- <nz-row [nzGutter]="12">
            <nz-col [nzSpan]="8">
                <p>Bike Name:</p>
            </nz-col>
            <nz-col [nzSpan]="16">
                <p>Benz</p>
            </nz-col>
        </nz-row> -->
        <nz-row [nzGutter]="12">
            <nz-col [nzSpan]="8">
                <p>Registration Number:</p>
            </nz-col>
            <nz-col [nzSpan]="16">
                <p>{{selectedBikeDetails?.ride_details?.bike?.registration_number}}</p>
            </nz-col>
        </nz-row>
        <nz-row [nzGutter]="12">
            <nz-col [nzSpan]="8">
                <p>Price Per Day:</p>
            </nz-col>
            <nz-col [nzSpan]="16">
                <p>{{selectedBikeDetails?.ride_details?.bike?.fare_per_day}}</p>
            </nz-col>
        </nz-row>
        <nz-divider nzPlain nzText="Rider Details"></nz-divider>
        <nz-row [nzGutter]="24">
            <nz-col [nzSpan]="8">
                <p>Total Fare:</p>
            </nz-col>
            <nz-col [nzSpan]="16">
                <p>{{selectedBikeDetails?.ride_details?.amount_earned}}</p>
            </nz-col>
        </nz-row>
        <nz-row [nzGutter]="24">
            <nz-col [nzSpan]="8">
                <p>Start Date:</p>
            </nz-col>
            <nz-col [nzSpan]="16">
                <p>{{selectedBikeDetails?.ride_details?.ride_start_date |  date:'yyyy-MM-dd'}}</p>
            </nz-col>
        </nz-row>
        <nz-row [nzGutter]="24">
            <nz-col [nzSpan]="8">
                <p>End Date:</p>
            </nz-col>
            <nz-col [nzSpan]="16">
                <p>{{selectedBikeDetails?.ride_details?.ride_end_date |  date:'yyyy-MM-dd'}}</p>
            </nz-col>
        </nz-row>
    </nz-col>
</nz-row>
<nz-drawer [nzClosable]="false" [nzVisible]="childrenVisible" nzTitle="Food" (nzOnClose)="closeChildren()">
    <nz-list *nzDrawerContent [nzRenderItem]="item">
      <ng-template #item let-item>
        <nz-list-item [nzContent]="item"></nz-list-item>
      </ng-template>
    </nz-list>
  </nz-drawer>
</nz-drawer>
  