<nz-row [nzGutter]="24">
    <nz-col [nzSpan]="12" *ngFor="let ride of rideDetails">
        <nz-card style="width:400px;" [nzCover]="coverTemplate" [nzActions]="[showMoreExcllipses]">
            <div class="d-flex justify-content-between mb-2">
                <b>{{ride?.ride_details?.bike?.name}}</b>
                <nz-tag [nzColor]="getRideStatusColor(ride?.status)">{{ride?.status}}</nz-tag>
            </div>
          </nz-card>
          <ng-template #coverTemplate>
            <img alt="example" [src]="'data:image/png;base64,' + ride.image" />
          </ng-template>
          <ng-template #showMoreExcllipses>
            <a nz-button nzType="link" nz-button nz-popover nzPopoverTitle="Bike details" [nzPopoverContent]="contentTemplate" nzPopoverTrigger="hover">Show more details</a>
          </ng-template>
          <ng-template #contentTemplate>
            <div>
                        <nz-row [nzGutter]="24">
                            <nz-col [nzSpan]="12">
                                <p>Registration Number:</p>
                            </nz-col>
                            <nz-col [nzSpan]="12">
                                <p>{{ride?.ride_details?.bike?.registration_number}}</p>
                            </nz-col>
                        </nz-row>
                        <nz-row [nzGutter]="23">
                            <nz-col [nzSpan]="12">
                                <p>Price Per Day:</p>
                            </nz-col>
                            <nz-col [nzSpan]="12">
                                <p>{{ride?.ride_details?.bike?.fare_per_day}}$</p>
                            </nz-col>
                        </nz-row>
                        <nz-divider nzPlain nzText="Rider Details"></nz-divider>
                        <nz-row [nzGutter]="24">
                            <nz-col [nzSpan]="12">
                                <p>Start Date:</p>
                            </nz-col>
                            <nz-col [nzSpan]="12">
                                <p>{{ride?.ride_details?.ride_start_date |  date:'yyyy-MM-dd'}}</p>
                            </nz-col>
                        </nz-row>
                        <nz-row [nzGutter]="24">
                            <nz-col [nzSpan]="12">
                                <p>End Date:</p>
                            </nz-col>
                            <nz-col [nzSpan]="12">
                                <p>{{ride?.ride_details?.ride_end_date |  date:'yyyy-MM-dd'}}</p>
                            </nz-col>
                        </nz-row>
                        <nz-row [nzGutter]="24">
                            <nz-col [nzSpan]="12">
                                <p>Total Fare:</p>
                            </nz-col>
                            <nz-col [nzSpan]="12">
                                <p>{{ride?.ride_details?.amount_earned}}$</p>
                            </nz-col>
                        </nz-row>
            </div>
          </ng-template>
    </nz-col>
</nz-row>
