<nz-row [nzGutter]="16">
    <nz-col [nzSpan]="12">
      <nz-statistic [nzValue]="usersCount" [nzTitle]="'Users'"></nz-statistic>
    </nz-col>
    <nz-col [nzSpan]="12">
      <nz-statistic [nzValue]="bikeOwnersCount" [nzTitle]="'Bike owners'"></nz-statistic>
    </nz-col>
  </nz-row>


  <nz-row [nzGutter]="24">
    <nz-col [nzSpan]="12">
      <div id="chart">
        <apx-chart
          [series]="usersChartOptions?.series"
          [chart]="usersChartOptions?.chart"
          [dataLabels]="usersChartOptions?.dataLabels"
          [plotOptions]="usersChartOptions?.plotOptions"
          [yaxis]="usersChartOptions?.yaxis"
          [xaxis]="usersChartOptions?.xaxis"
          [stroke]="usersChartOptions?.stroke"
          [grid]="usersChartOptions?.grid"
          [fill]="usersChartOptions?.fill"
          [annotations]="usersChartOptions?.annotations"
        ></apx-chart>
      </div>
    </nz-col>
    <nz-col [nzSpan]="12">
      <div id="chart">
        <apx-chart
          [series]="bikeOwnersChartOptions?.series"
          [chart]="bikeOwnersChartOptions?.chart"
          [dataLabels]="bikeOwnersChartOptions?.dataLabels"
          [plotOptions]="bikeOwnersChartOptions?.plotOptions"
          [yaxis]="bikeOwnersChartOptions?.yaxis"
          [xaxis]="bikeOwnersChartOptions?.xaxis"
          [stroke]="bikeOwnersChartOptions?.stroke"
          [grid]="bikeOwnersChartOptions?.grid"
          [fill]="bikeOwnersChartOptions?.fill"
          [annotations]="bikeOwnersChartOptions?.annotations"
        ></apx-chart>
      </div>
    </nz-col>
  </nz-row>