<div class="justify-content-center" id="login-page" style="overflow-x: hidden">
    <div class="col-xl-12 col-lg-12 col-md-12">
      <div class="o-hidden">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-8 d-none d-lg-block bg-login-image">
              <img style="width: 70vw; height: 100vh" src="../../../assets/images/loginbike.JPEG" />
            </div>
            <div class="col-lg-4 col-lg-offset-1" style="margin-top: 20px">
              <div class="p-5">
                <div>
                  <div class="text-center loginlogo logoOnHover">
                    <img src="../../../assets/images/bikelogo.jpeg" id="hirelyticLogo" alt="Organisation Logo" class="companylogo" />
                  </div>
                </div>
                  <!-- <button class="btn btn-primary btn-block">Sign In with PruTech India</button> -->
                  <!-- <button class="btn btn-primary btn-block">Sign In with PruTech US</button> -->
                  <!-- <hr> -->
                  <div class="d-grid gap-2 col-10 mx-auto">
                    <div *ngIf="isShowForgotPassword == false">
                      <form nz-form class="login-form mt-5" [formGroup]="loginForm">
                          <nz-form-item>
                            <nz-form-control nzErrorTip="Please input your email!">
                              <nz-input-group nzPrefixIcon="user">
                                <input type="text" nz-input placeholder="Email" formControlName="email"/>
                              </nz-input-group>
                            </nz-form-control>
                          </nz-form-item>
                          <nz-form-item>
                            <nz-form-control nzErrorTip="Please input your Password!">
                              <nz-input-group nzPrefixIcon="lock">
                                <input [type]="isCheckedShowPassword ? 'text' : 'password'" nz-input placeholder="Password" formControlName="password"/>
                              </nz-input-group>
                            </nz-form-control>
                          </nz-form-item>
                          <div nz-row class="login-form-margin">
                            <div nz-col [nzSpan]="12">
                              <label nz-checkbox [(ngModel)]="isCheckedShowPassword" [ngModelOptions]="{standalone: true}">
                                <span>Show password</span>
                              </label>
                            </div>
                            <!-- <div nz-col [nzSpan]="12">
                              <a class="login-form-forgot" (click)="this.isShowForgotPassword = !this.isShowForgotPassword">Forgot password?</a>
                            </div> -->
                          </div>
                          <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'" [routerLink]="'/admin-dashboard'" (click)="onLogin()">Log in</button>
                          Or
                          <a nz-button nzType="link" [routerLink]="'/register'">register now!</a>
                        </form>
                    </div>
                      <div *ngIf="isShowForgotPassword">
                        <nz-divider [nzText]="forgotPassword">
                          <ng-template #forgotPassword>
                            Forgot Password
                            <!-- <span nz-icon nzType="info-circle" nzTheme="outline" style="font-size: 12px;"></span> -->
                          </ng-template>
                        </nz-divider>
                        <nz-alert nzType="info" nzShowIcon nzMessage="Enter your verified email address in below given field and we'll send you a link to reset your password."></nz-alert> 
                        <form nz-form class="mt-4">
                          <nz-form-item>
                            <nz-form-control nzErrorTip="Please input your email!">
                              <nz-input-group nzPrefixIcon="user">
                                <input type="text" nz-input placeholder="Email"/>
                              </nz-input-group>
                            </nz-form-control>
                          </nz-form-item>
                          <div class="d-flex justify-content-center">
                            <button nz-button (click)="isShowForgotPassword=false">Cancel</button>
                            <button nz-button nzType="primary" (click)="onSubmitForgotPassword()">Submit</button>
                          </div>
                        </form>
                      </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  