<nz-row [nzGutter]="24">
    <nz-col [nzSpan]="8">
        <nz-card style="width:300px;" [nzCover]="coverTemplate" [nzActions]="[actionEllipsis]">
            <nz-card-meta
              [nzDescription]="cardContent"
            ></nz-card-meta>
          </nz-card>
          <ng-template #cardContent>
            <nz-row [nzGutter]="12">
                <nz-col [nzSpan]="8">
                    <p>Bike Name:</p>
                </nz-col>
                <nz-col [nzSpan]="16">
                    <p>Benzddddddddddd</p>
                </nz-col>
            </nz-row>
            <nz-row [nzGutter]="12">
                <nz-col [nzSpan]="8">
                    <p>Registration Number:</p>
                </nz-col>
                <nz-col [nzSpan]="16">
                    <p>Benzddddddddddd</p>
                </nz-col>
            </nz-row>
            <nz-row [nzGutter]="12">
                <nz-col [nzSpan]="8">
                    <p>Price:</p>
                </nz-col>
                <nz-col [nzSpan]="16">
                    <p>Benzddddddddddd</p>
                </nz-col>
            </nz-row>
            <nz-row [nzGutter]="12">
                <nz-col [nzSpan]="8">
                    <p>Status:</p>
                </nz-col>
                <nz-col [nzSpan]="16">
                    <nz-tag [nzColor]="'#87d068'">Active</nz-tag>
                    <!-- <nz-tag [nzColor]="data.status == 'Active' ? '#87d068' :'#f50'">{{ data.status }}</nz-tag> -->
                </nz-col>
            </nz-row>
          </ng-template>
          <ng-template #actionEllipsis>
            <button nz-button nzType="primary" [routerLink]="'/previous-rides'">Previous Rides</button>
          </ng-template>
          <ng-template #coverTemplate>
            <img alt="example" src="https://gw.alipayobjects.com/zos/rmsportal/JiqGstEfoWAOHiTxclqi.png" />
          </ng-template>
    </nz-col>
</nz-row>

  