<nz-row [nzGutter]="24">
    <nz-col [nzSpan]="12" *ngFor="let bike of ownersBikesList">
        <nz-card style="width:300px; margin-top: 20px;" [nzCover]="coverTemplate" [nzActions]="[actionEllipsis, actionEdit, showMoreEllipsis]">
            <div class="d-flex justify-content-between mb-2">
                <b>{{bike.bike_details.name}}</b>
                <nz-tag [nzColor]="getStatusColor(bike.bike_details.status)">{{getBikeStatus(bike.bike_details.status)}}</nz-tag>
            </div>
            <nz-card-meta
              [nzDescription]="cardContent"
            ></nz-card-meta>
          </nz-card>
          <ng-template #cardContent>
          </ng-template>
          <ng-template #actionEllipsis>
            <button nz-button nzType="primary" [routerLink]="'/previous-rides/' + bike?.bike_details?.id">Previous Rides</button>
          </ng-template>
          <ng-template #actionEdit>
            <span nz-icon nzType="edit" [routerLink]="'/edit-bike/'+bike?.bike_details?.id"></span>
          </ng-template>
          <!-- <ng-template #actionEllipsis>
            <button nz-button nzType="primary" [routerLink]="'/previous-rides/' + bike?.bike_details?.id">Previous Rides</button>
          </ng-template> -->
          <ng-template #showMoreEllipsis>
            <a nz-button nzType="link" nz-button nz-popover nzPopoverTitle="Bike details" [nzPopoverContent]="contentTemplate" nzPopoverTrigger="hover">Show more</a>
        </ng-template>
          <ng-template #coverTemplate>
            <img [nzSrc]="'data:image/png;base64,' + bike.image" [nzFallback]="'data:image/png;base64,' + bike.image" alt="" nz-image/>
          </ng-template>
          <ng-template #contentTemplate>
            <div>
              <nz-row [nzGutter]="24">
                <nz-col [nzSpan]="12">
                    <p>Registration Number:</p>
                </nz-col>
                <nz-col [nzSpan]="12">
                    <p>{{bike.bike_details.registration_number}}</p>
                </nz-col>
            </nz-row>
            <nz-row [nzGutter]="24">
                <nz-col [nzSpan]="12">
                    <p>Price:</p>
                </nz-col>
                <nz-col [nzSpan]="12">
                    <p>{{bike.bike_details.fare_per_day}}$</p>
                </nz-col>
            </nz-row>
            </div>
          </ng-template>
    </nz-col>
</nz-row>
  <!-- <button nz-button nz-popover nzPopoverTitle="Title" [nzPopoverContent]="contentTemplate" nzPopoverTrigger="click">
    Click me
  </button> -->