.ant-advanced-search-form {
    padding: 24px;
    background: #fbfbfb;
    border: 1px solid #ececec;
    border-radius: 6px;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 35px;
  }
  .test {
    display: flex;
  }
  
  nz-alert {
    padding: 10px;
  }
  
  nz-date-picker {
    margin: 0 8px 12px 0;
  }