<!-- <nz-alert
  nzType="warning"
  nzMessage="Successfully sent for approval"
  nzDescription="Your request has been submitted for approval. Please wait for some time and try logging in again later."
  nzShowIcon
></nz-alert> -->


<form class="ant-advanced-search-form col-lg-11">
    <div class="justify-content-center p-2">
      <h5>Registration</h5>
      <nz-divider></nz-divider>
      <form>
        <b><nz-divider nzText="Personal Info" nzOrientation="center"></nz-divider></b>
        <div class="row">
            <div class="col-lg-3">
                <nz-form-item>
                  <nz-form-control>
                     <nz-form-label nzFor="dob">Select Role</nz-form-label>
                   <!-- <nz-form-control>
                      <input nz-input name="dob" id="dob">
                    </nz-form-control> -->
                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a role" [(ngModel)]="selectedValue" name="role" id="role">
                      <nz-option nzLabel="Admin" nzValue="Admin"></nz-option>
                      <nz-option nzLabel="Bike Owner" nzValue="Bike Owner"></nz-option>
                      <nz-option nzLabel="User" nzValue="User"></nz-option>
                    </nz-select>
                    </nz-form-control>
                </nz-form-item >
            </div>
            <div class="col-lg-3">
                <nz-form-item>
                  <nz-form-control>
                    <nz-form-label nzFor="firstName">First Name</nz-form-label>
                    <nz-form-control>
                      <input placeholder="Enter name" nz-input name="firstName" id="firstName">
                    </nz-form-control>
                    </nz-form-control>
                </nz-form-item >
            </div>
            <div class="col-lg-3">
                <nz-form-item>
                  <nz-form-control>
                    <nz-form-label nzFor="middleName">Middle Name</nz-form-label>
                    <input placeholder="Middle name" nz-input name="middleName" id="middleName">
                  </nz-form-control>
                </nz-form-item >
            </div>
            <div class="col-lg-3">
                <nz-form-item>
                  <nz-form-control>
                  <nz-form-label nzFor="lastName">Last Name</nz-form-label>
                    <input placeholder="Last name" nz-input name="lastName" id="lastName">
                  </nz-form-control>
                </nz-form-item >
            </div>
        </div>
        <div class="row">
          <div class="col-lg-3">
              <nz-form-item>
                <nz-form-control>
                  <nz-form-label nzFor="email">Email</nz-form-label>
                    <input placeholder="Enter email" nz-input name="email" id="email">
                </nz-form-control>
              </nz-form-item >
          </div>
          <div class="col-lg-3">
              <nz-form-item>
                <nz-form-control>
                <nz-form-label nzFor="phoneNumber">Phone Number</nz-form-label>
                  <input placeholder="Enter phone number" nz-input name="phoneNumber" id="phoneNumber">
                </nz-form-control>
              </nz-form-item >
          </div>
          <div class="col-lg-3">
              <nz-form-item>
                <nz-form-control>
                <nz-form-label nzFor="alternatePhoneNumber">Alternate Phone Number</nz-form-label>
                  <input placeholder="Enter alternate phone number" nz-input name="alternatePhoneNumber" id="alternatePhoneNumber">
                </nz-form-control>
              </nz-form-item >
          </div>
          <div class="col-lg-3">
              <nz-form-item>
                <nz-form-control>
                <nz-form-label nzFor="dob">Date Of Birth</nz-form-label>
                <nz-date-picker nz-input nzPlaceHolder="Select date"></nz-date-picker>
              </nz-form-control>
              </nz-form-item >
          </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <nz-form-item>
            <nz-form-control>
            <nz-form-label nzFor="gender">Gender</nz-form-label>
            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a gender" [(ngModel)]="selectedValue" name="gender" id="gender">
              <nz-option nzLabel="Male" nzValue="Male"></nz-option>
              <nz-option nzLabel="Female" nzValue="Female"></nz-option>
              <nz-option nzLabel="Unspecified" nzValue="Unspecified"></nz-option>
            </nz-select>
            </nz-form-control>
          </nz-form-item >
        </div>
      </div>
      <b><nz-divider nzText="Address" nzOrientation="center"></nz-divider></b>
      <div class="row">
        <div class="col-lg-3">
            <nz-form-item>
              <nz-form-control>
              <nz-form-label nzFor="address1">Address Line1</nz-form-label>
                <input placeholder="Enter address line1" nz-input name="address1" id="address1">
              </nz-form-control>
            </nz-form-item >
        </div>
        <div class="col-lg-3">
            <nz-form-item>
              <nz-form-control>
              <nz-form-label nzFor="address2">Address Line2</nz-form-label>
                <input placeholder="Enter address line2" nz-input name="address2" id="address2">
              </nz-form-control>
            </nz-form-item >
        </div>
        <div class="col-lg-3">
            <nz-form-item>
              <nz-form-control>
              <nz-form-label nzFor="country">Country</nz-form-label>
                <input placeholder="Enter country" nz-input name="country" id="country">
              </nz-form-control>
            </nz-form-item >
        </div>
        <div class="col-lg-3">
            <nz-form-item>
              <nz-form-control>
              <nz-form-label nzFor="state">State</nz-form-label>
                <input placeholder="Enter state" nz-input name="state" id="state">
              </nz-form-control>
            </nz-form-item >
        </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <nz-form-item>
          <nz-form-control>
          <nz-form-label nzFor="city">City</nz-form-label>
            <input placeholder="Enter city" nz-input name="city" id="city">
          </nz-form-control>
        </nz-form-item >
    </div>
    <div class="col-lg-3">
        <nz-form-item>
          <nz-form-control>
          <nz-form-label nzFor="zipCode">Zip Code</nz-form-label>
            <input placeholder="Enter zip code" nz-input name="zipCode" id="zipCode">
          </nz-form-control>
        </nz-form-item >
    </div>
    </div>
    <b><nz-divider nzText="Create Password" nzOrientation="center"></nz-divider></b>
    <div class="row">
      <div class="col-lg-3">
        <nz-form-item>
          <nz-form-control>
          <nz-form-label nzFor="password">Password</nz-form-label>
            <input placeholder="Enter password" nz-input name="password" id="password">
          </nz-form-control>
        </nz-form-item >
    </div>
    <div class="col-lg-3">
        <nz-form-item>
          <nz-form-control>
          <nz-form-label nzFor="confirmPassword">Confirm Password</nz-form-label>
            <input placeholder="Enter confirm password" nz-input name="confirmPassword" id="confirmPassword">
          </nz-form-control>
        </nz-form-item >
    </div>
    </div>
        <!-- <div class="row">
            <div class="col-lg-6">
              <label class="form-label">Password</label>
              <nz-form-item>
                <nz-form-control>
                  <input nz-input placeholder="Enter password" />
                </nz-form-control>
              </nz-form-item>
            </div>
            <div class="col-lg-6">
              <label class="form-label">Confirm Password</label>
              <nz-form-item>
                <nz-form-control>
                  <input nz-input placeholder="confirm password" />
                </nz-form-control>
              </nz-form-item>
            </div>
          </div> -->
        <div class="d-flex justify-content-end">
          <!-- <button type="button" class="btn btn-light">Cancel</button> &nbsp; &nbsp;
            <button type="button" class="btn btn-primary" style="background-color: rgb(93, 93, 249)">Submit</button> -->
          <button nz-button nzType="default" (click)="onCancelRegistration()">Cancel</button> &nbsp;
          <button nz-button nzType="primary" (click)="onSubmitUserVerification()">Register</button>
        </div>
      </form>
    </div>
  </form>
  