<nz-table #basicTable
nzBordered
[nzData]="bikeOwnersList"
[nzFrontPagination]="false"
[nzTotal]="totalItems"
[nzPageSize]="itemsPerPage"
[nzPageIndex]="page"
(nzQueryParams)="onQueryParamsChange($event)"
[nzShowTotal]="rangeTemplate"
nzSize="small"
nzTableLayout="fixed">
<ng-template #rangeTemplate let-range="range" let-total> {{ range[0] }}-{{ range[1] }} of {{ total }} items </ng-template>
    <thead>
      <tr>
        <th *ngFor="let column of listOfColumn">
          {{ column.title }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable?.data">
        <td nzEllipsis [nzAlign]="'left'" [nzTooltipTitle]="data.first_name" nzTooltipPlacement="right" nz-button nz-tooltip>{{ data?.first_name }}</td>
        <td nzEllipsis [nzAlign]="'left'" [nzTooltipTitle]="data.last_name" nzTooltipPlacement="right" nz-button nz-tooltip>{{ data.last_name }}</td>
        <td nzEllipsis [nzAlign]="'left'" [nzTooltipTitle]="data.middle_name" nzTooltipPlacement="right" nz-button nz-tooltip>{{ data.middle_name }}</td>
        <td nzEllipsis [nzAlign]="'left'" [nzTooltipTitle]="data.email_id" nzTooltipPlacement="right" nz-button nz-tooltip>{{ data.email_id }}</td>
        <td nzEllipsis [nzAlign]="'left'" [nzTooltipTitle]="data.primary_phone_number" nzTooltipPlacement="right" nz-button nz-tooltip>{{ data.primary_phone_number }}</td>
        <td nzEllipsis [nzAlign]="'left'" [nzTooltipTitle]="data.dob" nzTooltipPlacement="right" nz-button nz-tooltip>{{ data.dob }}</td>
        <td><nz-tag [nzColor]="data.status == 'Active' ? '#87d068' :'#f50'">{{ data.status }}</nz-tag>
        </td>
        <td><a nz-button nzType="link" (click)="showModal(data.id)"><span nz-icon nzType="edit" nzTheme="outline"></span>Update</a> </td>
      </tr>
    </tbody>
  </nz-table>

  <nz-modal [(nzVisible)]="isVisible" nzTitle="Bike Owner Details" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" [nzWidth]="'400px'">
    <ng-container *nzModalContent>
        <form>
            <div>
              <div class="row d-flex justify-content-center">
                <div class="col-lg-10">
                  <div class="row">
                    <div class="col-lg-6">
                      <label nzFor="firstName">Full Name:</label>
                    </div>
                    <div class="col-lg-6">
                      <span>{{userDetails?.first_name+' '+userDetails?.last_name}}</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row d-flex justify-content-center mt-3">
                <div class="col-lg-10">
                  <div class="row">
                    <div class="col-lg-6">
                      <label nzFor="firstName">Email:</label>
                    </div>
                    <div class="col-lg-6">
                      <span>{{userDetails?.email_id}}</span>
                    </div>
                  </div>  
                </div>
              </div>
              <div class="row d-flex justify-content-center mt-3">
                <div class="col-lg-10">
                  <div class="row">
                    <div class="col-lg-6">
                      <label nzFor="firstName">Phone Number:</label>
                    </div>
                    <div class="col-lg-6">
                      <span>{{userDetails?.primary_phone_number}}</span>
                    </div>
                  </div>
              </div>
            </div>
            <div class="row d-flex justify-content-center mt-3">
              <div class="col-lg-10">
                <div class="row">
                  <div class="col-lg-6">
                    <label nzFor="dob">Status:</label>
                  </div>
                  <div class="col-lg-6">
                    <nz-form-item>
                      <nz-form-control>
                       <!-- <nz-form-control>
                          <input nz-input name="dob" id="dob">
                        </nz-form-control> -->
                        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select status" [(ngModel)]="selectedValue" name="status" id="status">
                          <nz-option nzLabel="Active" nzValue="Active"></nz-option>
                          <nz-option nzLabel="Inactive" nzValue="Inactive"></nz-option>
                        </nz-select>
                        </nz-form-control>
                    </nz-form-item >
                  </div>
                </div>
            </div>
          </div>
              </div>
          </form>
    </ng-container>
  </nz-modal>