<nz-steps [nzCurrent]="current">
    <nz-step nzTitle="Upload bike image"></nz-step>
    <nz-step nzTitle="Vehicle details"></nz-step>
    <nz-step nzTitle="Address"></nz-step>
  </nz-steps>

  <div class="steps-content">
    <nz-upload
    *ngIf="current==0"
      nzType="drag"
      [nzMultiple]="true"
      nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
      (nzChange)="handleChange($event)"
    >
      <p class="ant-upload-drag-icon">
        <span nz-icon nzType="inbox"></span>
      </p>
      <p class="ant-upload-text">Click or drag file to this area to upload</p>
      <p class="ant-upload-hint">
        Support for a single or bulk upload. Strictly prohibit from uploading company data or other band files
      </p>
    </nz-upload>
    <div *ngIf="current==1">
        <div class="row">
            <div class="col-lg-6">
                <nz-form-item>
                    <nz-form-label nzFor="vehicleName">Vehicle Name</nz-form-label>
                    <nz-form-control nzHasFeedback [nzSpan]="24">
                      <input nz-input name="vehicleName" id="vehicleName">
                    </nz-form-control>
                </nz-form-item >
            </div>
            <div class="col-lg-6">
                <nz-form-item>
                    <nz-form-label nzFor="vehicleHire">Vehicle Hire Price Per Day</nz-form-label>
                    <nz-form-control nzHasFeedback [nzSpan]="24">
                      <input nz-input name="vehicleHire" id="vehicleHire">
                    </nz-form-control>
                </nz-form-item >
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <nz-form-item>
                    <nz-form-label nzFor="vehicleNumber">Vehicle Number</nz-form-label>
                    <nz-form-control nzHasFeedback [nzSpan]="24">
                      <input nz-input name="vehicleNumber" id="vehicleNumber">
                    </nz-form-control>
                </nz-form-item >
            </div>
            <div class="col-lg-6">
                <nz-form-item>
                    <nz-form-label nzFor="vehicleSeatCapacity">Vehicle Seating Capacity</nz-form-label>
                    <nz-form-control nzHasFeedback [nzSpan]="24">
                      <input nz-input name="vehicleSeatCapacity" id="vehicleSeatCapacity">
                    </nz-form-control>
                </nz-form-item >
            </div>
        </div>
    </div>
    <div *ngIf="current==2">
        <div class="row">
            <div class="col-lg-6">
                <nz-form-item>
                    <nz-form-label nzFor="address1">Address Line1</nz-form-label>
                    <nz-form-control nzHasFeedback [nzSpan]="24">
                      <input nz-input name="address1" id="address1">
                    </nz-form-control>
                </nz-form-item >
            </div>
            <div class="col-lg-6">
                <nz-form-item>
                    <nz-form-label nzFor="address2">Address Line2</nz-form-label>
                    <nz-form-control nzHasFeedback [nzSpan]="24">
                      <input nz-input name="address2" id="address2">
                    </nz-form-control>
                </nz-form-item >
            </div>
        </div>
   <div class="row">
            <div class="col-lg-6">
                <nz-form-item>
                    <nz-form-label nzFor="country">Country</nz-form-label>
                    <nz-form-control nzHasFeedback [nzSpan]="24">
                      <input nz-input name="country" id="country">
                    </nz-form-control>
                </nz-form-item >
            </div>
            <div class="col-lg-6">
                <nz-form-item>
                    <nz-form-label nzFor="state">State</nz-form-label>
                    <nz-form-control nzHasFeedback [nzSpan]="24">
                      <input nz-input name="state" id="state">
                    </nz-form-control>
                </nz-form-item >
            </div>
        </div>
  <div class="row">
            <div class="col-lg-6">
                <nz-form-item>
                    <nz-form-label nzFor="city">City</nz-form-label>
                    <nz-form-control nzHasFeedback [nzSpan]="24">
                      <input nz-input name="city" id="city">
                    </nz-form-control>
                </nz-form-item >
            </div>
            <div class="col-lg-6">
                <nz-form-item>
                    <nz-form-label nzFor="zipCode">Zip Code</nz-form-label>
                    <nz-form-control nzHasFeedback [nzSpan]="24">
                      <input nz-input name="zipCode" id="zipCode">
                    </nz-form-control>
                </nz-form-item >
            </div>
        </div>
    </div>
  </div>
  <div class="steps-action">
    <button nz-button nzType="default" (click)="pre()" *ngIf="current > 0">
      <span>Previous</span>
    </button>
    <button nz-button nzType="default" (click)="next()" *ngIf="current < 2">
      <span>Next</span>
    </button>
    <button nz-button nzType="primary" (click)="done()" *ngIf="current === 2">
      <span>Done</span>
    </button>
  </div>