<nz-row [nzGutter]="24">
    <nz-col [nzSpan]="6">
      <nz-statistic [nzValue]="totalBikesAdded" [nzTitle]="'Total bikes added'"></nz-statistic>
    </nz-col>
    <nz-col [nzSpan]="6">
      <nz-statistic [nzValue]="ridesAmount" [nzTitle]="'Rides amount'"></nz-statistic>
    </nz-col>
    <nz-col [nzSpan]="6">
      <nz-statistic [nzValue]="pendingRides" [nzTitle]="'Pending rides'"></nz-statistic>
    </nz-col>
    <nz-col [nzSpan]="6">
      <nz-statistic [nzValue]="completedRides" [nzTitle]="'Completed rides'"></nz-statistic>
    </nz-col>
</nz-row>


<nz-row [nzGutter]="24">
  <nz-col [nzSpan]="24">
    <div id="chart">
      <apx-chart
    [series]="chartOptions?.series"
    [chart]="chartOptions?.chart"
    [dataLabels]="chartOptions?.dataLabels"
    [plotOptions]="chartOptions?.plotOptions"
    [yaxis]="chartOptions?.yaxis"
    [legend]="chartOptions?.legend"
    [fill]="chartOptions?.fill"
    [stroke]="chartOptions?.stroke"
    [tooltip]="chartOptions?.tooltip"
    [xaxis]="chartOptions?.xaxis"
  ></apx-chart>
    </div>
  </nz-col>
</nz-row>