
<section>
  <nz-row [nzGutter]="16">
      <nz-col [nzSpan]="12">
        <nz-statistic [nzValue]="totalAmountSpent" [nzTitle]="'Total Rides Completed'"></nz-statistic>
      </nz-col>
      <nz-col [nzSpan]="12">
        <nz-statistic [nzValue]="totalRidesCompleted" [nzTitle]="'Total Spents'"></nz-statistic>
      </nz-col>
    </nz-row>
</section>

<div class="row mt-4">
  <div class="col-lg-5">
    <section>
      <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
        <input type="text" nz-input placeholder="search by bike name" [(ngModel)]="searchBikeKeyword"/>
      </nz-input-group>
      <ng-template #suffixIconButton>
        <button nz-button nzType="primary" nzSearch (click)="onGetSearchedBikes()"><span nz-icon nzType="search"></span></button>
      </ng-template>
    </section>
  </div>
  <div class="col-lg-1">
    <button nz-button nzType="default" nzShape="circle"><span nz-icon nzType="reload"(click)="getAllBikes()" nzTooltipTitle="Refresh" nzTooltipPlacement="top" nz-button nz-tooltip></span></button>
    <!-- <span nz-icon nzType="reload" nzTheme="outline" style="font-size: 20px;" (click)="getAllBikes()"></span> -->
  </div>
</div>

  <section class="mt-3">
    <nz-row [nzGutter]="24">
      <nz-col [nzSpan]="12" *ngFor="let bike of searchedBikeList">
          <nz-card style="width:400px;" [nzCover]="coverTemplate" [nzActions]="[actionEllipsisAaccept]">
            <div class="d-flex justify-content-between mb-3">
              <b>{{bike.bike_details.name}}</b>
              <a nz-button nzType="link" (click)="isViewBikeDetails = !isViewBikeDetails">Collapse<span nz-icon [nzType]="isViewBikeDetails ? 'down' : 'up'"></span></a>
          </div>
              <nz-card-meta
                [nzDescription]="cardContent"
              ></nz-card-meta>
            </nz-card>
            <ng-template #cardContent>
              <div *ngIf="isViewBikeDetails">
              <nz-row [nzGutter]="24">
                  <nz-col [nzSpan]="24">
                      <!-- <nz-row [nzGutter]="12">
                          <nz-col [nzSpan]="8">
                              <p>Bike Name:</p>
                          </nz-col>
                          <nz-col [nzSpan]="16">
                              <p>Benz</p>
                          </nz-col>
                      </nz-row> -->
                      <nz-row [nzGutter]="12">
                          <nz-col [nzSpan]="8">
                              <p>Registration Number:</p>
                          </nz-col>
                          <nz-col [nzSpan]="16">
                              <p>{{bike.bike_details.registration_number}}</p>
                          </nz-col>
                      </nz-row>
                      <nz-row [nzGutter]="12">
                          <nz-col [nzSpan]="8">
                              <p>Price Per Day:</p>
                          </nz-col>
                          <nz-col [nzSpan]="16">
                              <p>{{bike.bike_details.fare_per_day}}</p>
                          </nz-col>
                      </nz-row>
                      <nz-divider nzPlain nzText="Pickup Location"></nz-divider>
                      <nz-row [nzGutter]="24">
                        <nz-col [nzSpan]="24  ">
                          <p>{{bike.bike_details.addressline1+','+ bike.bike_details.addressline2 +','+ bike.bike_details.city +','+ bike.bike_details.state +','+ bike.bike_details.country +'-'+ bike.bike_details.zipcode}}</p>
                        </nz-col>
                      </nz-row>
                  </nz-col>
              </nz-row>
              </div>
            </ng-template>
            <ng-template #actionEllipsisAaccept>
                <button nz-button nzType="primary" (click)="showModal(bike.bike_details.id)">Book Ride</button>
              </ng-template>
            <ng-template #coverTemplate>
              <img alt="example" [src]="'data:image/png;base64,' + bike.image" />
            </ng-template>
      </nz-col>
  </nz-row>  
  </section>


  <nz-modal [(nzVisible)]="isVisible" nzTitle="Bike Bike" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" [nzWidth]="'400px'">
    <ng-container *nzModalContent>
        <form [formGroup]="selectedDateRangeForm">
            <div>
              <div class="row">
                <div class="col-lg-12">
                  <nz-range-picker [nzFormat]="dateFormat"  nzShowTime (nzOnOk)="onOk($event)" (ngModelChange)="onDateSelected($event)" formControlName="dateRange"></nz-range-picker>
                </div>
                <!-- <div class="col-lg-6">
                  <nz-form-item>
                    <nz-form-control>
                    <nz-form-label nzFor="dob">Start Date</nz-form-label>
                    <nz-date-picker nz-input nzPlaceHolder="Select date" formControlName="startDate"></nz-date-picker>
                  </nz-form-control>
                  </nz-form-item >
                </div>
                <div class="col-lg-6">
                  <nz-form-item>
                    <nz-form-control>
                    <nz-form-label nzFor="dob">End Date</nz-form-label>
                    <nz-date-picker nz-input nzPlaceHolder="Select date" formControlName="endDate" (nzOnCalendarChange)="onCalendarClosed()"></nz-date-picker>
                  </nz-form-control>
                  </nz-form-item >
                </div> -->
              </div>
              <div class="row mt-2">
                <div class="col-lg-10">
                  <div class="row">
                    <div class="col-lg-6">
                      <label nzFor="firstName">Price Per Day:</label>
                    </div>
                    <div class="col-lg-6">
                      <span>{{bikeDetails?.fare_per_day}}</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-10">
                  <div class="row">
                    <div class="col-lg-6">
                      <label nzFor="firstName">Days:</label>
                    </div>
                    <div class="col-lg-6">
                      <span>{{days}}</span>
                    </div>
                  </div>  
                </div>
              </div>
              <div class="row">
                <div class="col-lg-10">
                  <div class="row">
                    <div class="col-lg-6">
                      <label nzFor="firstName">Total Fare:</label>
                    </div>
                    <div class="col-lg-6">
                      <span>{{totalFare}}</span>
                    </div>
                  </div>
              </div>
            </div>
              </div>
          </form>
    </ng-container>
  </nz-modal>