
<section>
  <nz-row [nzGutter]="16">
      <nz-col [nzSpan]="12">
        <nz-statistic [nzValue]="(1949101 | number)!" [nzTitle]="'Total Rides Completed'"></nz-statistic>
      </nz-col>
      <nz-col [nzSpan]="12">
        <nz-statistic [nzValue]="(2019.111 | number: '1.0-2')!" [nzTitle]="'Total Spents'"></nz-statistic>
      </nz-col>
    </nz-row>
</section>

  <section class="mt-5">
    <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
      <input type="text" nz-input placeholder="search bikes" />
    </nz-input-group>
    <ng-template #suffixIconButton>
      <button nz-button nzType="primary" nzSearch><span nz-icon nzType="search"></span></button>
    </ng-template>
  </section>

  <section class="mt-3">
    <nz-row [nzGutter]="24">
      <nz-col [nzSpan]="12">
          <nz-card style="width:400px;" [nzCover]="coverTemplate" [nzActions]="[actionEllipsisAaccept]">
            <div class="d-flex justify-content-between mb-3">
              <b>Royal Enfield</b>
              <a nz-button nzType="link" (click)="isViewBikeDetails = !isViewBikeDetails">Collapse<span nz-icon [nzType]="isViewBikeDetails ? 'down' : 'up'"></span></a>
          </div>
              <nz-card-meta
                [nzDescription]="cardContent"
              ></nz-card-meta>
            </nz-card>
            <ng-template #cardContent>
              <div *ngIf="isViewBikeDetails">
              <nz-row [nzGutter]="24">
                  <nz-col [nzSpan]="24">
                      <!-- <nz-row [nzGutter]="12">
                          <nz-col [nzSpan]="8">
                              <p>Bike Name:</p>
                          </nz-col>
                          <nz-col [nzSpan]="16">
                              <p>Benz</p>
                          </nz-col>
                      </nz-row> -->
                      <nz-row [nzGutter]="12">
                          <nz-col [nzSpan]="8">
                              <p>Registration Number:</p>
                          </nz-col>
                          <nz-col [nzSpan]="16">
                              <p>TS120F7725</p>
                          </nz-col>
                      </nz-row>
                      <nz-row [nzGutter]="12">
                          <nz-col [nzSpan]="8">
                              <p>Price Per Day:</p>
                          </nz-col>
                          <nz-col [nzSpan]="16">
                              <p>100$</p>
                          </nz-col>
                      </nz-row>
                      <nz-divider nzPlain nzText="Pickup Location"></nz-divider>
                      <nz-row [nzGutter]="24">
                        <nz-col [nzSpan]="24  ">
                          <p>Western Aqua, Table Space 11th floor, Hitec City Hyderabad</p>
                        </nz-col>
                      </nz-row>
                  </nz-col>
              </nz-row>
              </div>
            </ng-template>
            <ng-template #actionEllipsisAaccept>
                <button nz-button nzType="primary" (click)="showModal()">Book Ride</button>
              </ng-template>
            <ng-template #coverTemplate>
              <img alt="example" src="../../../../assets/images/RE.jpg" />
            </ng-template>
      </nz-col>
  </nz-row>  
  </section>


  <nz-modal [(nzVisible)]="isVisible" nzTitle="Bike Bike" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" [nzWidth]="'400px'">
    <ng-container *nzModalContent>
        <form>
            <div>
              <div class="row">
                <div class="col-lg-6">
                  <nz-form-item>
                    <nz-form-control>
                    <nz-form-label nzFor="dob">Start Date</nz-form-label>
                    <nz-date-picker nz-input nzPlaceHolder="Select date"></nz-date-picker>
                  </nz-form-control>
                  </nz-form-item >
                </div>
                <div class="col-lg-6">
                  <nz-form-item>
                    <nz-form-control>
                    <nz-form-label nzFor="dob">End Date</nz-form-label>
                    <nz-date-picker nz-input nzPlaceHolder="Select date"></nz-date-picker>
                  </nz-form-control>
                  </nz-form-item >
                </div>
              </div>
              <div class="row">
                <div class="col-lg-10">
                  <div class="row">
                    <div class="col-lg-6">
                      <label nzFor="firstName">Price Per Day:</label>
                    </div>
                    <div class="col-lg-6">
                      <span>Prem</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-10">
                  <div class="row">
                    <div class="col-lg-6">
                      <label nzFor="firstName">Days:</label>
                    </div>
                    <div class="col-lg-6">
                      <span>Prem</span>
                    </div>
                  </div>  
                </div>
              </div>
              <div class="row">
                <div class="col-lg-10">
                  <div class="row">
                    <div class="col-lg-6">
                      <label nzFor="firstName">Total Fare:</label>
                    </div>
                    <div class="col-lg-6">
                      <span>Prem</span>
                    </div>
                  </div>
              </div>
            </div>
              </div>
          </form>
    </ng-container>
  </nz-modal>